body {
    background-color: #303030;
    color: white;
    padding: 12px;
}

.help-content-simple>h2 {
    color: white;
}

.help-content-simple>p {
    color: white;
}

a.example {
    color: cyan;
    margin: 4px;
}

a.example:hover {
    color: rgb(165, 250, 250);
}

.header {
    padding-bottom: 1rem;
    border-bottom: solid 2px;
}

.footer {
    font-size: x-small;
    background-color: dimgray;
    position: fixed;
    bottom: 0;
    left: 8px;
    right: 8px;
    padding-left: 12px;
    margin-bottom: 4px;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #71BC76;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-radius: 20px;
    display: block;
    width: 200px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

.button:hover {
    background-color: #97f19d;
}

.notice {
    background: gray;
    color: yellow;
    padding: 12px;
    border-radius: 20px;
}

.center {
    text-align: center;
}

table.simple,
table.simple tbody td,
table.simple tbody tr {
    color: white;
}

table.instruction {
    background-color: gray;
    color: green;
    border: none;
    border-radius: 8px;
    padding: 2px;
    -moz-border-radius: 6px;
    width: 100%;
}

table.instruction tbody td:first-child,
th:first-child {
    border-left: none;
    border-right: none;
    padding: 2px;
    color: green;
}

table.instruction tbody td,
th {
    border: none;
    margin: 0px;
    padding: 0px;
    color: green;
}

table.instruction tbody th {
    text-align: left;
    width: 30%;
    padding: 2px;
    border-top: none;
    border-right: none;
    color: green;
}

table.instruction tbody td {
    padding: 2px;
    color: green;
}

table.instruction tbody tr:nth-child(even) {
    background-color: #b8b5b5;
}

table.instruction tbody tr:nth-child(odd) {
    background-color: #f3f0f0;
}

.go-back {
    color: #97f19d;
    font-weight: bold;
    font-size: small;
    padding: 4px;
    text-decoration: none;
}

.go-back:hover {
    color: #acf3b0;
}

.blurb-box {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}

img.icon {
    margin: 20px;
}

.rotate0 {
    background-color: transparent;
    transform: rotate(0deg);
}

.rotate22-5 {
    background-color: transparent;
    transform: rotate(22.5deg);
}

.rotate45 {
    background-color: transparent;
    transform: rotate(45deg);
}

.rotate67-5 {
    background-color: transparent;
    transform: rotate(67.5deg);
}

.rotate90 {
    background-color: transparent;
    transform: rotate(90deg);
}

.rotate112-5 {
    background-color: transparent;
    transform: rotate(112.5deg);
}

.rotate135 {
    background-color: transparent;
    transform: rotate(135deg);
}

.rotate157-5 {
    background-color: transparent;
    transform: rotate(157.5deg);
}

.rotate180 {
    background-color: transparent;
    transform: rotate(180deg);
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 2em;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 33%;
}

.flex-item-middle {
    flex: 33%;
    /* border: 2px solid rgb(165, 250, 250); */
}

.flex-item-right {
    flex: 33%;
}


/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */

@media (max-width: 800px) {
    .flex-item-right,
    .flex-item-middle,
    .flex-item-left {
        flex: 100%;
        border: none;
    }
}