body {
    background-color: black;
    color: white;
}

.header {
    padding-bottom: 1rem;
    border-bottom: solid 2px;
}

.footer {
    font-size: x-small;
    background-color: dimgray;
    position: fixed;
    bottom: 0;
    left: 8px;
    right: 8px;
    padding-left: 12px;
    margin-bottom: 4px;
}